[project]
	description = reborn again.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/learningendless
[access "refs/for/refs/*"]
	read = group user/learningendless
	push = group user/learningendless
	label-Code-Review = -2..+2 group user/learningendless
	label-Verified = -1..+1 group user/learningendless
	rebase = group user/learningendless
	removeReviewer = group user/learningendless
	submit = group user/learningendless
[access "refs/heads/*"]
	read = group user/learningendless
	create = group user/learningendless
	push = +force group user/learningendless
	pushMerge = group user/learningendless
[access "refs/tags/*"]
	push = group user/learningendless
	push = +force group user/learningendless
